In [15]:
import pandas as pd

In [16]:
ns_book4 = pd.read_csv('ns_book4.csv', low_memory=False)
ns_book4.head()

,Unnamed: 0,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [17]:
ns_book4.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  384591 non-null  int64
 1   번호          384591 non-null  int64
 2   도서명         384188 non-null  object
 3   저자          384393 non-null  object
 4   출판사         379950 non-null  object
 5   발행년도        384577 non-null  object
 6   ISBN        384591 non-null  object
 7   세트 ISBN     56576 non-null   object
 8   부가기호        310386 non-null  object
 9   권           63378 non-null   object
 10  주제분류번호      364727 non-null  object
 11  도서권수        384591 non-null  int64
 12  대출건수        384591 non-null  int64
 13  등록일자        384591 non-null  object
dtypes: int64(4), object(10)
memory usage: 236.9 MB

In [20]:
ns_book4.isna().sum()

Unnamed: 0         0
번호                 0
도서명              403
저자               198
출판사             4641
발행년도              14
ISBN               0
세트 ISBN       328015
부가기호           74205
권             321213
주제분류번호         19864
도서권수               0
대출건수               0
등록일자               0
dtype: int64

In [21]:
ns_book4['도서권수'].isna().sum

<bound method Series.sum of 0         False
1         False
2         False
3         False
4         False
          ...
384586    False
384587    False
384588    False
384589    False
384590    False
Name: 도서권수, Length: 384591, dtype: bool>